@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    background-color: #2f2d2d;
    color: #212121;
    height:auto;
    min-height:100vh;
    font-family: 'Space Grotesk', sans-serif;
    cursor: url('assets/cursor/purple-cursor.svg') 16 16, auto;
}






header{
    background-color: antiquewhite;
    font-family: 'Montserrat';

}

pre{
    overflow: hidden;
    font-size: .75em;
}

a{
    font-weight: bold;
}
a:hover {
    background-color: #161717;
    color: #ffffff;
}

/* Container styling */
.container {
    font-family: 'Roboto';
    max-width: 85vw;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 2em;
}


h1 {
    font-family: 'Montserrat';
    text-transform: uppercase;
}
h2 {
    font-family: 'Montserrat';
}
h3 {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: bold;
}
img {
    max-width: 100%;
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
}

.transform {
    margin-top: -30px;
    margin-bottom: -30px;
}


